{% extends 'base.html' %}

{% block breadcrumb %}
    {% if user.is_authenticated %}
        <li class="breadcrumb-item active">Entities</li>
    {% else %}
        <li class="breadcrumb-item active">Login or Sign up first</li>
    {% endif %}
{% endblock %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse">
        <tr>
            {% if user.is_authenticated %}
                <th>Pattern</th>
                <th>Limit times</th>
                <th></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for throttle in throttles %}
            <tr>
                <td>
                    <a href="{{ throttle.pattern }}">{{ throttle.pattern }}</a>
                </td>
                <td>
                    <span class="text-muted d-block">{{ throttle.number }}/{{ throttle.limit }}</span>
                </td>
                <td>
                    <a href="{% url 'common:edit_throttle' throttle.pk %}" class="btn btn-outline-info">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <div class="mb-4">
            <a href="{% url 'common:new_throttle' %}" class="btn btn-primary">New throttle</a>
        </div>
    {% endif %}
{% endblock %}