{% extends 'base.html' %}
{% load filters %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'common:home' %}">Home</a></li>
    <li class="breadcrumb-item active">{{ title|contain_create }}</li>
{% endblock %}

{% block content %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-success">{{ title|contain_create }}</button>
        {% if title|contain_create == 'Edit' %}
            <a href="{% url 'common:delete_throttle' pk %}" class="btn btn-danger">Delete</a>
        {% endif %}
    </form>
{% endblock %}